
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }

    <h2 style="margin-bottom: 50px; text-align: center">THÔNG TIN CHI TIẾT GIÀY</h2>
    <div class="row">
        <div class="col-md-4 col-12" style="border: 1px solid red">
            <img src="~/image/g2.jpg" alt="Alternate Text" style="width: 90%" />
        </div>
        <div class="col-md-6 col-12">
            <h2 style="color:palevioletred"> @Model.TenGIAY </h2>

            $1000
            <div id="Datmua" class="col-md-4 col-8 btn btn-danger btn-block">
                <a href="@Url.Action("ThemGioHang", "GioHang", new {@iMagiay = @Model.MaGIAY,@strURL=Request.Url.ToString()})">
                    ĐẶT GIÀY
                </a>
            </div>
        </div>
        <br />

    </div>
